:root {
    --black: #000;
    --white: #fff;
    --ul-primary: #7065F0;
    --ul-secondary: #000929;
    --ul-gray: #EBEBEB;
    --ul-gray2: #6C6E76;
    --ul-gradient: linear-gradient(90deg, var(--ul-primary) 0%, var(--ul-secondary) 100%);

    --font-primary: "Plus Jakarta Sans", sans-serif;
}